.App {
  text-align: center;
  font-family: Helvetica;
}

#body {
  background: url(./images/blue_ridge.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  overflow: visible;
}
#content {
  padding: 30px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #09d3ac;
}

#navBar {
  float: right;
  color: darkblue;

}


#navItem:hover {
  font-style: underline;
  opacity: .6;
  text-decoration: underline
}

.CalorieTrackerImg {
  height: auto;
  width: 100%;
}

.PetlantaPawsImg {
  height: auto;
  width: 100%;
}
.brewsterImg {
  height: auto;
  width: 100%;
}

.bugInvaderImg {
  height: auto;
  width: 100%;
}

.carouselItem {
  margin: 10px;
  
}
.Card {
  margin: 80px;
  width: auto;
}

#ProjectTitle {
  text-align: center;
  max-width: 300px;
}


#profilepic {
  width: 300px;
  height: 400px;
  clip-path: circle(140px at center);
  
}

.squareLogo {

  max-width: 80px;
  max-height: 80px;
  min-width: 40px;
  min-height: 30px;
}


.circleLogo {
  width: 80px;
  height: 80px;
  clip-path: circle(32px at center);
}

.squareLogo:hover {
  opacity: .8;
}

.circleLogo:hover {
  opacity: .8;
}

#wjgw {
  display: block; 
  max-width: 100%;
  height: auto;
}

#wjgw:hover {
  opacity: 0.8;
}


#NasaImg {
  display: block; 
  max-width: auto;
  max-height: 500px;
  
  align-content: center;
}

#NasaVideo {
  display: block; 
  max-width: auto;
  max-height: 500px;
  
  align-content: center;
}


.myButton {
  height: auto;
  width: 100%;
  margin: 2px;
  border-radius: 5px;
  padding: 1px;
  opacity: .8;
}

.myButton:hover {
  opacity: 0.8;
  background-color: darkblue;
  color: white;
}

#resumeLogo {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}

.technologies {
  margin: 5px; 
  max-width: 60px;
  max-height: 50px;
  min-width: 40px;
  min-height: 30px;
}



#linkText {
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;

}

#resume:hover #linkText {
  display: block;
}




.calendar{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  padding: 15px;
  /* min-width: 40vh; */
}































