.App {
  text-align: center;
  background: url(./images/blue_ridge.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  
}
#content {
  padding: 30px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #09d3ac;
}

#navBar {
  float: right;
}

#CalorieTrackerImg {
  height: auto;
  width: 100%;
}
.carouselItem {
  margin: 10px;
  
}
.Card {
  margin: 80px;
  width: auto;
}

#ProjectTitle {
  text-align: center;
  max-width: 300px;
}


#profilepic {
  width: 300px;
  height: 400px;
  clip-path: circle(140px at center);
  
}

#gmailLogo {
  width: 250px;
  height: 250px;
  clip-path: square(100px at center);
}

#gitHubLogo {
  width: 250px;
  height: 250px;
  clip-path: circle(100px at center);
}

.myButton {
  height: auto;
  width: 100%;
  margin: 1px;
}

